---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a:hover {
	text-decoration: none;
}

.main-continer {
	padding: 20px;
	background-color: silver;
	border-radius: 20px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-container {
	background-color: steelblue;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-container {
	padding: 20px;
	background-color: silver;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containter-title {
	padding-top: 20px;
	text-align: center;
	width: 100%;
	color: white;
	line-height: 1.2;
	font-size: xx-large;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.projects-footer {
	padding: 20px;
	text-align: center;
	width: 100%;
	color: white;
	line-height: 1.2;
	font-size: medium;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8px;
}


.featureCell  {
	text-align: center;
	background: white;
	width: 300px;
	min-width: 40%;
 	margin: 10px;
	border-radius: 8px;
	margin: 8px;
	z-index: 1;
	transition: transform 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.title {
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	text-align: center;
	line-height: 1.5;
	font-size: x-large;
	font-weight: bold;
}

.subtitle {
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	text-align: center;
	line-height: 1.4;
	font-size: small;
}

.featureCell img {
	display: inline;
	width: 50%;
	height: auto;
	border-radius: 17.544%;
	// border-radius: 20px;
	//border: 1px solid darkgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Scale up the box */
.featureCell:hover {
	z-index: 10;
	-webkit-transform: scale(1.01, 1.01);
  	transform: scale(1.01, 1.01);
}



// Project Page

.project-container {
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-bar {

}

.project-image-header {
	padding: 20px;
}









