---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a:hover {
	text-decoration: none;
}

.main-container {
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 20px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-container {
	background-color: steelblue;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-container {
	padding: 20px;
	background-color: silver;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containter-title {
	padding-top: 20px;
	text-align: center;
	width: 100%;
	color: white;
	line-height: 1.2;
	font-size: xx-large;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


.projects-footer {
	background-color: white;
	padding: 20px;
	text-align: center;
	width: 20%;
	color: white;
	line-height: 1.2;
	font-size: large;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8px;
}


.featureCell  {
	text-align: center;
	background: white;
	width: 300px;
	min-width: 40%;
 	margin: 10px;
	border-radius: 20px;
	margin: 8px;
	z-index: 1;
	transition: transform 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.title {
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	text-align: center;
	line-height: 1.5;
	font-size: x-large;
	font-weight: bold;
}

.subtitle {
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	text-align: center;
	line-height: 1.4;
	font-size: small;
}

.featureCell img {
	display: inline;
	width: 50%;
	height: auto;
	border-radius: 17.544%;
	// border-radius: 20px;
	//border: 1px solid darkgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Scale up the box */
.featureCell:hover {
	z-index: 10;
	-webkit-transform: scale(1.01, 1.01);
  	transform: scale(1.01, 1.01);
}



// Project Page

.project-container {
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-bar {

}

.project-subtitle {
	text-align: center;
	line-height: 1.4;
	font-size: medium;
}

.project-image-header {
	padding: 20px;
}


.project-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8px;
}


.md-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.avatar img {
  align: right;
  // vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.avatar-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.info-h-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.info-v-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}





#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.center-img-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

}


#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}









