---
layout: default
---

<div class="home">

  <div class="main-container">
    {{ content }}
  </div>

  <br>

  <div class="projects-container">
    <div class="containter-title">Projects</div>
    <div class="flex-container">
      {% for item in site.feature_group %}
      <a class="page-link" href="{{ item.permalink | relative_url }}">
          <div class="featureCell">
            <span class="title">
              {{ item.title }}
            </span>
            <br>
            <img src="/assets/images{{ item.permalink }}icon.png" alt="">
            <br>
            <span class="subtitle">
              {{ item.subtitle }}
            </span>
          </div>
        </a>
      {% endfor %}
    <div class="projects-footer">
      <a class="page-link" href="https:www.github.com/jmade">more</a>
    </div>
    </div>
  </div>

  <br>

  
    
  
  {%- if site.posts.size > 0 -%}
  <div class="blog-container">
    <h2 class="post-list-heading">{{ page.list_title | default: "Blog" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  <div/>
  {%- endif -%}

</div>
