---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="featureContainer">
    <div class="contentContainer">
      <table class="feature">
        <tbody>
          <tr>
            {% for item in site.top_group %}
            <td>
              <a class="page-link" href="{{ item.permalink | relative_url }}">
                  <div class="featureCell">
                    <span class="title">
                      {{ item.title }}
                    </span>
                    <br>
                    <img src="/assets/images/ambilight/icon.png" alt="">
                    <br>
                    <span class="subtitle">
                      {{ item.subtitle }}
                    </span>
                  </div>
                </a>
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="contentContainer">
      <table class="feature">
        <tbody>
          <tr>
            {% for item in site.bottom_group %}
            <td>
                <a class="page-link" href="{{ item.permalink | relative_url }}">
                  <div class="featureCell">
                    <span class="title">
                      {{ item.title }}
                    </span>
                    <br>
                    <img src="/assets/images/ambilight/icon.png" alt="">
                    <br>
                    <span class="subtitle">
                      {{ item.subtitle }}
                    </span>
                  </div>
                </a>
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Blog" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
